body{
    font-family: arial,sans-serif;
}
.weather-app{
    max-width: 350px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px;
}
h1{
    color: #202124;
    font-size: 28px;
    font-weight: 100px;
    margin-bottom: 0;
}
ul {
    list-style: none;
    color: #70757a;
    font-size: 12px;
    margin: 0;
    padding: 0;
}
li{
    margin: 0;
    padding: 0;
    
}